<!DOCTYPE html>
<html lang= "tr" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>admin page </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../../public/vendors/feather/feather.css">
  <link rel="stylesheet" href="../../../public/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../vendors/ti-icons/mcss/themify-icons.css">
  <link rel="stylesheet" href="../../../public/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../../public/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../../public/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../../public/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="../../../public/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../../public/vendors/css/vertical-layout-light/style.css">

</head>

<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">admin register page</h4>
      <p class="card-description">
        !!!---  bilgileri giriniz  ---!!!
      </p>
      <form class="forms-sample">
        <div class="form-group">
          <label for="exampleInputname1">name</label>
          <input type="text" name="name" class="form-control" id="exampleInputname1" placeholder="name">
        </div>
        <div class="form-group">
          <label for="exampleInputUsername1">surname</label>
          <input type="text" name="surname" class="form-control" id="exampleInputUsername1" placeholder="surname">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">email</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>

        <div class="form-group">
          <label for="phone">phone</label>
          <input type="phone" name="phone" class="form-control" id="phone" placeholder="phone">
        </div>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <button class="btn btn-light" href="admin.html">Cancel</button>
      </form>
    </div>
  </div>
</div>


</html>